<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../stylesheets/template.css' type='text/css' media='all' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <title>Quiz Quest!</title>
</head>
<body>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Create</li>
</ol>
<div class="cdiv">
        <form action='/create' method='post'>
    <table class="center-table">
            <tr><td>名前 <td> <input type="text" name="user_id">
            <tr><td>問題 <td> <input type="text" name="content">
            <tr><td>選択肢1 <td> <input type="text" name="select1">
            <tr><td>選択肢2 <td> <input type="text" name="select2">
            <tr><td>選択肢3 <td> <input type="text" name="select3">
            <tr><td>選択肢4 <td> <input type="text" name="select4"
            
            答えは？
            <input type="radio" name="result_id" value="1">1
            <input type="radio" name="result_id" value="2">2
            <input type="radio" name="result_id" value="3">3
            <input type="radio" name="result_id" value="4">4
    
     </table>
            <p><input type="submit" value="編集完了"></p>
        </form>
</div>
</body>
</html>