<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../stylesheets/template.css' type='text/css' media='all' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <title>Quiz Quest!</title>
</head>
<body>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Create</li>
</ol>
<div class="cdiv create_div">
    <form action='/create' method='post'>
    <table class="center-table table table-striped">
            <tr><td><td>名前 <td> <input type="text" name="user_id" class="form-control"><td>
            <tr><td><td>問題 <td> <input type="text" name="content" class="form-control"><td>
            <tr><td><td>選択肢1 <td> <input type="text" name="select1" class="form-control"><td>
            <tr><td><td>選択肢2 <td> <input type="text" name="select2" class="form-control"><td>
            <tr><td><td>選択肢3 <td> <input type="text" name="select3" class="form-control"><td>
            <tr><td><td>選択肢4 <td> <input type="text" name="select4" class="form-control"><td>
            <tr><td><td>
            答えは？
            <td>1. <input type="radio" name="result_id" value="1">
            2. <input type="radio" name="result_id" value="2">
            3. <input type="radio" name="result_id" value="3">
            4. <input type="radio" name="result_id" value="4"><td>
    
            <tr><td><td colspan="2"><input type="submit" value="編集完了" class="btn btn-default create_btn"><td>
        </form>
    </table>
</div>
</body>
</html>