<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Quiz Quest!</title>
</head>
<body>
    
    <form action='/create_page' method='get'>
        <input type=submit value="問題作成">
    </form>
    <form action='/user_login' method='get'>
        <input type=submit value="ユーザページを見る">
    </form>
    <form action='/ranking' method='get'>
        <input type=submit value="ランキングページを見る">
    </form>
</body>
</html>
