<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Quiz Quest!</title>
    <link rel='stylesheet' href='/stylesheets/template.css' type='text/css' media='all' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <form action='/user' method='post'>
        <p>名前 : <input type="text" name="name"></p>
        <p><input type="submit" value="ログイン"></p>
    </form>
    
</body>
</html>

