<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Quiz Quest!</title>
    <link rel='stylesheet' href='/stylesheets/play-game.css' type='text/css' media='all' />
</head>
<body>
    <% if @users.present? %>
        <% rank = 0 %>
        <% @users.each do |content|%>
            <%= rank += 1 %>th
            <%= content.name %> :
            <%= content.join %> :
            <%= content.point %><br>
            <hr>
        <% end %>
    <% end %>
    
</body>
</html>
