<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Quiz Quest!</title>
    <link rel='stylesheet' href='/stylesheets/play-game.css' type='text/css' media='all' />
</head>
<body>
    
    <form action='/select_room' method='get'>
        <input type=submit value="1 Player">
    </form>
    <form action='/set_quiz' method='get'>
        <input type=submit value="4 Player">
    </form>
</body>
</html>
