<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Quiz Quest!</title>
    <link rel='stylesheet' href='/stylesheets/play-game.css' type='text/css' media='all' />
</head>
<body>
    <% if @content.nil? %>
    
    <% @contents.each do |content| %>
    {
    <br>
    content: "<%= content["problem"] %>",<br>
    result: 0,<br>
    sum: 0,<br>
    user_id: 1,<br>
    <% for num in 1..4 do %>
        select<%= num %>: "<%= content["select" + String(num)]%>",<br>
    <% end %>
    result_id: <%= content["result"] %><br>
    },<br>
       
    <% end %>
    <% end %>
    
</body>
</html>