<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Quiz Quest!</title>
    <link rel='stylesheet' href='/stylesheets/template.css' type='text/css' media='all' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">login</li>
</ol>
    <div class="cdiv">
        <form action='/user' method='post'>
            <p><input type="text" name="name" placeholder="名前を入力してください" class="login_text"></p>
            <p><input type="submit" value="ログイン" class="btn btn-default login_btn"></p>
        </form>
    </div>
    
</body>
</html>

