<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Quiz Quest!</title>
</head>
<body>
    <form action='/user' method='post'>
        <p>名前 : <input type="text" name="name"></p>
        <p><input type="submit" value="ログイン"></p>
    </form>
    
</body>
</html>

